<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.et_tutorial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name="com.example.et_tutorial.MyVar"
        android:allowBackup="true"
        android:icon="@drawable/et"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.et_tutorial.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.et_tutorial.Introduction"
            android:label="@string/title_activity_introduction" >
        </activity>
        <activity
            android:name="com.example.et_tutorial.Step1"
            android:label="@string/title_activity_step1" >
        </activity>
        <activity
            android:name="com.example.et_tutorial.Step2"
            android:label="@string/title_activity_step2" >
        </activity>
        <activity
            android:name="com.example.et_tutorial.ShowHints"
            android:label="@string/title_activity_show_hints" >
        </activity>
        <activity
            android:name="com.example.et_tutorial.ItemListActivity"
            android:label="@string/title_item_list"
            android:parentActivityName="com.example.et_tutorial.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.et_tutorial.MainActivity" />
        </activity>
        <activity
            android:name="com.example.et_tutorial.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name="com.example.et_tutorial.A0btFragment"
            android:label="@string/title_activity_a0bt" >
        </activity>
    </application>

</manifest>
